<!DOCTYPE html>
<html lang="ko">
<head>
  <title>댓글 페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="form-wrapper">
    <h2>댓글 작성</h2>
    <form action="/post/<%= post.postId %>/comments" method="post" enctype="multipart/form-data">
      <div class="form-control">
        <input type="text" id="content_cmm" name="content_cmm" required />
        <label for="content_cmm"></label>
      </div>
      <button type="submit">댓글 작성</button>
    </form>
    <% comments.forEach((comment) => { %>
      <div class="comment">
        <p><%= comment.content_cmm %></p>
        <p>작성자: <%= comment.user.profile.nickname %></p>
      </div>
      <h2>댓글 수정</h2>
      <form action="/post/<%= post.postId %>/comment/<%= comment.commentId %>/?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="form-control">
          <input type="text" id="name" name="content_cmm" required />
          <label for="content_cmm"></label>
        </div>
        <button type="submit">댓글 수정</button>
      </form>
      <h2>댓글 좋아요</h2>
      <form action="/comment/<%= comment.commentId %>/favorites" method="post" enctype="multipart/form-data">
        <div class="form-control">
          <input type="text" id="name" name="click" required />
          <label for="click"></label>
        </div>
        <button type="submit">댓글 좋아요</button>
      </form>
      <button class="comment-like-button" data-comment-id="<%= comment.commentId %>" > 좋아요 <%= comment.clike %> </button> 
    <% }) %>
  </div>
</body>
</html>
